<%- include('partials/header'); -%>
<style>
    body{
    background-image:url(./wp.jpg) ;
  }
</style>
<h1 style="position: fixed;left: 18%;top: 30%;">welcome to our shop</h1>

<%- include('partials/footer'); -%>